<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet" href="resources/styles/style.css" type="text/css" />
<link type="text/css" href="resources/styles/cupertino/jquery-ui-1.8.1.custom.css" rel="stylesheet" />

<script type="text/javascript" src="resources/scripts/ajax.js"></script>
<script type="text/javascript" src="resources/scripts/funciones.js"></script>
<script type="text/javascript" src="resources/scripts/funcionesDarVolante.js"></script>
<script type="text/javascript" src="resources/scripts/funcionesDarCitaCabecera.js"></script>
<script type="text/javascript" src="resources/scripts/funcionesDarCitaEspecialista.js"></script>
<script type="text/javascript" src="resources/scripts/funcionesAnularCita.js"></script>

<!--  Se cargan los scripts necesarios para el Datepicker -->
<script type="text/javascript" src="resources/scripts/jquery-1.4.2.js" ></script>
<script type="text/javascript" src="resources/scripts/jquery.ui.core.js" ></script>
<script type="text/javascript"  src="resources/scripts/jquery.ui.datepicker-es.js"></script>
<script type="text/javascript" src="resources/scripts/jquery.ui.datepicker.js"></script>
