img
{
	border: 0px;
	text-decoration: none;
}

a
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	color: navy;
	text-decoration: none;
	background: none;
}  /* for unvisited links */

a:link
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	color: navy;
	text-decoration: underline;
	background: none;
}  /* for unvisited links */

a:visited
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	text-decoration: underline;
	color: navy;
	background: none;
} /* for visited links */

a:active
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	text-decoration: underline;
	color: navy;
	background: none;
} /* when link is clicked */

a:hover
{
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	color: teal;
	background: none;
} /* when mouse is over link */

body 
{
	background-image:url("../images/fondoDegradado.png");
	margin:0;
	padding:0;
	background-repeat: repeat;
}

#header
{
	background-image: url( "../images/header.png" );
	background-position: center center;
	background-repeat: repeat-x;
	border-bottom: 6px solid #C0C0C0;
	border-color: #008080;
	line-height: normal;
	margin: 0 auto;
	padding: 0;
	text-decoration: none;
	text-transform: none;
	height: 100px;
	width: 100%;
}

.logoCabecera 
{
	background-image: url("../images/health-care-shield-256.png");
	margin-top: 15px;
	padding-left: 0px;
	float:left;
	z-index:10;
	padding-right: auto;
	margin-right: auto;
	width:256px;
	height:256px;
}

.textoCabecera 
{
	text-align: right;
	margin-top: -70px;
	float:left;
	font-family: Verdana;
	font-weight: bold;
	font-size: 20pt;
	margin-right: auto;
	margin-left:-70px;
	width: 800px;
}

.tagLine
{
	text-align: right;
	float: left;
	font-family: Verdana;
	padding-right: auto;
	font-weight: bold;
	font-size: 10pt;
	margin-right: auto;
	color: #008080;
	width: 800px;
}

.menu {
	list-style:none outside none;
	width:1020px;
	height:27px;
	background:#008080;
	margin: 0 auto;
	padding: 0;
}
.menu li {
	float:right;
	position:relative;
	margin-top:1px;
}

.menu a {
	background: right #333333;
	color:#CCCCCC;
	font-weight:normal;
	padding: 7px 12px;
	height:inherit;
	text-decoration:none;
}
.menu a:hover {
	background: scroll center bottom #171C56;
	color:#FFFFFF;
}

.navegacion
{
	float:left;
	color:#FFFFFF;
}

#izquierdo
{
	background-color:#FFFFFF;
	line-height:normal;
	margin:0 auto;
	margin-left:-256px;
	min-height:300px;
	padding:15px 0 0;
	float:left;
}

#contenido
{
	background-color:#FFFFFF;
	line-height:normal;
	margin:0 auto;
	min-height:300px;
	padding:15px 0 0;
	float:left;
}

.textoCuerpo 
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: medium;
	font-weight: bold; 
	color: #171C56;
	text-align: center;
}

.imagenesLogin 
{
	margin-left:100px;
	margin-top:0px;
	font-weight:normal;
	text-decoration:none;
}

#pie
{
	background: #BBF7FF none repeat scroll 0 0;
	border-top: 6px solid #C0C0C0;
	border-color: #008080;
	border-width: 6px thin thin;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

option.ocupado{
	background-color:white;
	color:red
}

#campofecha {
	text-align: center;	
}
