img
{
	border: 0px;
	text-decoration: none;
}

a:link
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	color: navy;
	text-decoration: underline;
	background: none;
}  /* for unvisited links */

a:visited
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	text-decoration: underline;
	color: navy;
	background: none;
} /* for visited links */

a:active
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	text-decoration: underline;
	color: navy;
	background: none;
} /* when link is clicked */

a:hover
{
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	color: teal;
	background: none;
} /* when mouse is over link */

body 
{
	background-image:url("../images/fondoDegradado.png");
	background-repeat: repeat;
	text-align:center;
	margin:0 auto;
}

#header
{
	margin: 0 auto;
	background-image: url( "../images/header.png" );
	background-repeat: no-repeat;
	width: 1020px;
}

.logoCabecera 
{
	margin: 0 auto;
	margin-left: 20px;
	margin-top: 15px;
	background-image: url("../images/health-care-shield-150.png");
	width:116px;
	height:150px;
	float: left;
}

.textoCabecera 
{
	margin: 0 auto;
	padding-top:30px;
	text-align: right;
	font-family: Verdana;
	font-weight: bold;
	font-size: 22pt;
	height: 70px;
	width: 980px;

}

.tagLine
{
	text-align: right;
	font-family: Verdana;
	font-weight: bold;
	font-size: 10pt;
	color: #008080;
	width: 980px;
}

.menu {
	margin: 0 auto;
	list-style:none outside none;
	width:1020px;
	height:27px;
	background:#008080;
}

.navegacion
{
	float:left;
	color:#FFFFFF;
}

#contenido
{
	margin: 0 auto;
	background-color:#FFFFFF;
	width: 1020px;
}

#izquierdo
{
	background-color:#FFFFFF;
	text-align: left;
	width:290px;
	clear:both;
	float:left;
}

#textoCuerpo 
{
	background-image: url( "../images/textoCuerpo-left.png" );
	background-repeat: repeat-y;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: medium;
	font-weight: bold; 
	color: #171C56;
	text-align: center;
	width: 730px;
	margin-left:290px;
	min-height:200px;
}

#pie
{
	margin: 0 auto;
	background: #BBF7FF none repeat scroll 0 0;
	border-top: 6px solid #C0C0C0;
	border-color: #008080;
	border-width: 6px thin thin;
	text-align: center;
	width: 1020px;
}

option.ocupado{
	background-color:white;
	color:red
}

#campofecha {
	margin-left:200px;
	float:left;
}

#campohoras {
	text-align: center;
	clear:both;
}
